<div class="contenido">
    <h1>Products</h1>
    <div class="allProducts-box">
        {{#each products}}
        <div class="card-product">
            <p>Title: {{this.title}}</p>
            <p>Precio: ${{this.price}}</p>
            <button id="buttonAdd" dataId={{this.id}}>add to Cart</button>
        </div>
        {{/each}}
    </div>
</div>
<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/products/?page={{prevPage}}"><button>anterior</button></a>
    {{/if}}
    <div class="numberPage">
        {{page}}
    </div>

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>siguiente</button></a>
    {{/if}}
</div>


<script>
    const buttonAdd = document.querySelectorAll('#buttonAdd');
    console.log(buttonAdd)

    buttonAdd.forEach(function (elem) {
        elem.addEventListener('click', function (ev) {
            ev.preventDefault();
            const productId = this.getAttribute('dataId')
            console.log(productId)
            fetch(`http://localhost:8080/api/carts/647632af04517d3f0bdf5d10/product/${productId}`, {
                method: 'POST'
            })
                .then((res) => res.json())
                .then((data) => console.log(data))
        })

    })
</script>