<div class="bienvenida">
    <h1>Hola, {{ user.name}}!!</h1>
    <h2>Correo: {{user.email}}</h2>
    <h3>Rol: {{user.role}}</h3>
</div>

<div class="contenido">
    <h1>Products</h1>
    <div class="allProducts-box">
        {{#each products}}
        <div class="card-product">
            <p>Title: {{this.title}}</p>
            <p>Precio: ${{this.price}}</p>
            <button id="buttonAdd" dataId={{this.id}}>add to Cart</button>
        </div>
        {{/each}}
    </div>
</div>
<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/products/?page={{prevPage}}"><button>anterior</button></a>
    {{/if}}
    <div class="numberPage">
        {{page}}
    </div>

    {{#if hasNextPage}}
    <a href="/products/?page={{nextPage}}"><button>siguiente</button></a>
    {{/if}}

</div>
<a href="/carts/{{user.cart}}" cartData={{user.cart}} id="cartButton">
    <div class="cartBox">
        <img src="/assets/carticon.svg">
        <div id="cartItemsCant"></div>
    </div>
</a>
<a href="/api/sessions/logout"><button id="logout">cerrar sesion</button></a>


<script>

    const buttonAdd = document.querySelectorAll('#buttonAdd');
    const cartId = document.querySelector('#cartButton').getAttribute('cartData')
    const cartItemsCant = document.getElementById('cartItemsCant')
    fetch(`/api/carts/${cartId}/cantItems`, {
        method: 'GET'
    })
        .then((res) => res.json())
        .then((result) => cartItemsCant.innerHTML = result)


    buttonAdd.forEach(function (elem) {
        elem.addEventListener('click', async function (ev) {
            ev.preventDefault();
            const productId = this.getAttribute('dataId')
            await fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'POST'
            })
                .then((res) => res.json())

            const itemsInCart = await fetch(`/api/carts/${cartId}/cantItems`, {
                method: 'GET'
            })
                .then((res) => res.json())

            cartItemsCant.innerHTML = itemsInCart
        })



        elem.addEventListener('mousedown', function () {
            elem.classList.add('clicked')
        })

        elem.addEventListener('mouseup', function () {
            elem.classList.remove('clicked')
        })

    })

</script>